
/* Imagen de fondo para dispositivos de escritorio */
@media only screen and (min-width: 768px) {
    .cashierbodyone {
      background-image: url("../images/hdform/backgroundesktop.webp");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }
}

/* Imagen de fondo para dispositivos móviles */
@media only screen and (max-width: 767px) {
    .cashierbodyone {
      background-image: url("../images/hdform/backgroundmobile.webp");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }
}
  

/* espacio */
.bd-example-row-flex-cols .row {
    min-height: auto;
}

@media (max-width: 767px) {
    .styled-table-td {
      width: 100%;
      height: auto;
      padding: 1%;
      margin: 1%;
    }
  }
/* color y forma del formulario */
.styled-table-td {
    padding: 4% 4%;
    background-color: #00b1dd;
    border-radius: 20px;
    font-weight: bold;
}


/* hacer campos redondos */
.redondos {

    border-radius: 30px;
    font-weight: bold;
    font-size: 15px;
    
}

/* tamaño de letras form */
.letter {
    font-family: Arial;
    padding-bottom: 0% !important;
    font-size: 13px;
    font-weight: 999;
}

/* botones sino */
.yesno{
    padding-right: 9px;
}

/* padding */
.padding{
    padding-top: 9px;
    padding-bottom: 9px;
}
.paddingtwo{
    padding-top: 100px;
}
.paddingtre{
    padding-top: 50px;
    padding-bottom: 50px;
}
/* boton enviar */
.btncssenv{
    font-weight: 999;
    border-radius: 30px;
    font-size: 20px;
    width: 125px;
    height: 40px;
    font-family: arial;

}


/* popup sendhdcashier */
#popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    background-color: #fff;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 30px 30px 30px rgba(0,0,0,0.2);
    font-size: 17;
 }